html {
    background-color: rgb(0, 0, 0);
    color: rgb(169, 169, 169);
}

th,
td {
    border: 1px solid;
}

#pawn {
    color: gold;
}

.borderBlock {
    min-width: 8px;
    max-height: 8px;
    height: 8px;
}

.platformBlock {
    min-width: 40px;
    max-height: 40px;
    height: 40px;
    text-align: center;
}

.occupied {
    background-color: rgb(202, 168, 102);
}

.option {
    background-color: rgb(136, 211, 212);
}

.option:hover {
    background-color: rgb(212, 136, 136);
}

.selected {
    background-color: rgb(136, 212, 142);
}

#board {
    position: relative;
    margin: 10px;
}

#turnLabel {
    display: inline-block;
}

#winnerLabel {
    display: inline-block;
}

#blocksRemain {
    margin-Right: 20px;
    display: inline-block;
}

.blockStorage {
    display: flex;
    /* color: rgb(202, 168, 102); */
}

#container {
    padding: 10px;
}

button {
    width: auto;
    min-height: 20px;
}